/* styles for both Anni Albers layouts*/

/* by default, let's layout the first index.html file*/

#main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    column-count: 6;
}

#title  {
   column-span: all;
}

#title h1 {
    font-size: 4rem;
}

#title h3 {
    font-style: italic;
}


p {
    font-size: 1.25rem;
    line-height: 1rem;
}

p.callout {
    font-size: 1.75rem;
    line-height: 1.25;
    font-style: italic;
}

/* layout 2 */

#secondLayout, #title2 {
    display: flex;
    flex-direction: column;
}

#secondLayout, #rows1 {
    display: flex;
    flex-direction: row;
}

#secondLayout, #rows2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#secondLayout, #rows3 {
    display: flex;
    flex-direction: row;
}

#secondLayout, #about2 {
    display: flex;
    flex-direction: column;
}

#secondLayout, #title2 h1 {
    font-size: 4rem;
}

 #title2 h3 {
    font-style: italic;
}

#secondLayout, #rows1 p{
    font-size: 1rem;
    line-height: auto;
}

p.callout2 {
     font-size: 1.75rem;
    line-height: 1.25;
    font-style: italic;
}