/* mobile first design for webpage */

#pic {
    background-image: url(rhododendron.jpeg);
    width: 100vw;
    height: 100vh;
    position: absolute;
}

/* add rest of mobile desgin after playing with in inspection */